.Pokedex {
    width: 80vw;
    margin: 0 auto;

    & .Header {
        color: #aaa;
        font-weight: 300;
        letter-spacing: 0.7rem;
        margin-right: -0.7rem;
        text-transform: uppercase;
        text-align: center;
    }

    & .CardList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .Pokedex {
        width: 95vw;

        & .Header {
            font-size: 2.5rem;
            letter-spacing: 0.5rem;
            margin-right: -0.5rem;
        }
    }
}
