.ResultList {
    width: 100%;
    /* padding: 2rem 5rem; */
}

.ResultList h1 {
    color: #eee;
    background: #aaa;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    margin-right: -0.7rem;
    padding: 1.2rem 0;
}

.Content {
    padding: 1.2rem 3.5rem;
}

.Content .Header {
    text-align: center;
    text-transform: uppercase;
}

.Content .Header::before,
.Content .Header::after {
    display: inline-block;
    content: '';
    background: #ccc;
    height: 1.2rem;
    width: 35%;
    margin: 0 1rem;
    border-radius: 2px;
}

.Content .Cards {
    display: flex;
    justify-content: center;
}

.Content .Cards > * {
    max-width: 25%;
}

.Actions {
    margin: 0 2.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Actions p {
    color: #aaa;
    font-size: 1.6rem;
    animation: fadeAway 1s ease-out 3s forwards;
}

@keyframes fadeAway {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
